.sectionfooter {
    background-color: #03001C;
    .h2footer {
        text-align: center;
        font-size: 2rem;
        color: #dfe0ea;
        padding-top: 1vh;
        font-weight: bold;
        font-family: 'Creepster', cursive;
    }
    article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    ul {
    justify-content: space-between;
    display: flex;
    grid-column: 2/3;
}
    
        }
        
        p {
   text-align: center;
    font-size: 1rem;
    color: #dfe0ea;
    text-decoration: none;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Creepster', cursive;
}
}




.f-li2 {
              padding-top: 1vh;   
              padding-bottom: 1vh;
                 a {
                     img {
                         width: 2rem;
                     }
                 }
}
.h2footer:hover {
    color: gold;
    text-shadow: red 2px 5px;
}